In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
        .appName("CSV_Data_Processing") \
        .getOrCreate()

In [37]:
import pandas as pd

In [45]:
import time
import json

In [46]:
datapath = "E:\\kafka_project\\bank.csv"

In [47]:
source_df = pd.read_csv('E:\\kafka_project\\bank.csv', sep=';')

In [48]:
source_df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [42]:
source_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [49]:
target_df = pd.DataFrame(columns=source_df.columns)

In [56]:
for idx, row in source_df.iterrows():

    # Append to target df
    target_df = pd.concat([target_df, pd.DataFrame([row])], ignore_index=True)

    # Save newly added row so producer can read it
    with open("new_row.json", "w") as f:
        json.dump(row.to_dict(), f)

    print("Appended row:", row.to_dict())
    time.sleep(5)

print("Done appending rows.")

Appended row: {'age': 30, 'job': 'unemployed', 'marital': 'married', 'education': 'primary', 'default': 'no', 'balance': 1787, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 19, 'month': 'oct', 'duration': 79, 'campaign': 1, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 33, 'job': 'services', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 4789, 'housing': 'yes', 'loan': 'yes', 'contact': 'cellular', 'day': 11, 'month': 'may', 'duration': 220, 'campaign': 1, 'pdays': 339, 'previous': 4, 'poutcome': 'failure', 'y': 'no'}
Appended row: {'age': 35, 'job': 'management', 'marital': 'single', 'education': 'tertiary', 'default': 'no', 'balance': 1350, 'housing': 'yes', 'loan': 'no', 'contact': 'cellular', 'day': 16, 'month': 'apr', 'duration': 185, 'campaign': 1, 'pdays': 330, 'previous': 1, 'poutcome': 'failure', 'y': 'no'}
Appended row: {'age': 30, 'job': 'management', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': 1476, 'housing': 'yes', 'loan': 'yes', 'contact': 'unknown', 'day': 3, 'month': 'jun', 'duration': 199, 'campaign': 4, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 59, 'job': 'blue-collar', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 0, 'housing': 'yes', 'loan': 'no', 'contact': 'unknown', 'day': 5, 'month': 'may', 'duration': 226, 'campaign': 1, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 35, 'job': 'management', 'marital': 'single', 'education': 'tertiary', 'default': 'no', 'balance': 747, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 23, 'month': 'feb', 'duration': 141, 'campaign': 2, 'pdays': 176, 'previous': 3, 'poutcome': 'failure', 'y': 'no'}
Appended row: {'age': 36, 'job': 'self-employed', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': 307, 'housing': 'yes', 'loan': 'no', 'contact': 'cellular', 'day': 14, 'month': 'may', 'duration': 341, 'campaign': 1, 'pdays': 330, 'previous': 2, 'poutcome': 'other', 'y': 'no'}
Appended row: {'age': 39, 'job': 'technician', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 147, 'housing': 'yes', 'loan': 'no', 'contact': 'cellular', 'day': 6, 'month': 'may', 'duration': 151, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 41, 'job': 'entrepreneur', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': 221, 'housing': 'yes', 'loan': 'no', 'contact': 'unknown', 'day': 14, 'month': 'may', 'duration': 57, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 43, 'job': 'services', 'marital': 'married', 'education': 'primary', 'default': 'no', 'balance': -88, 'housing': 'yes', 'loan': 'yes', 'contact': 'cellular', 'day': 17, 'month': 'apr', 'duration': 313, 'campaign': 1, 'pdays': 147, 'previous': 2, 'poutcome': 'failure', 'y': 'no'}
Appended row: {'age': 39, 'job': 'services', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 9374, 'housing': 'yes', 'loan': 'no', 'contact': 'unknown', 'day': 20, 'month': 'may', 'duration': 273, 'campaign': 1, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 43, 'job': 'admin.', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 264, 'housing': 'yes', 'loan': 'no', 'contact': 'cellular', 'day': 17, 'month': 'apr', 'duration': 113, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 36, 'job': 'technician', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': 1109, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 13, 'month': 'aug', 'duration': 328, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 20, 'job': 'student', 'marital': 'single', 'education': 'secondary', 'default': 'no', 'balance': 502, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 30, 'month': 'apr', 'duration': 261, 'campaign': 1, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'yes'}
Appended row: {'age': 31, 'job': 'blue-collar', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 360, 'housing': 'yes', 'loan': 'yes', 'contact': 'cellular', 'day': 29, 'month': 'jan', 'duration': 89, 'campaign': 1, 'pdays': 241, 'previous': 1, 'poutcome': 'failure', 'y': 'no'}
Appended row: {'age': 40, 'job': 'management', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': 194, 'housing': 'no', 'loan': 'yes', 'contact': 'cellular', 'day': 29, 'month': 'aug', 'duration': 189, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 56, 'job': 'technician', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 4073, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 27, 'month': 'aug', 'duration': 239, 'campaign': 5, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 37, 'job': 'admin.', 'marital': 'single', 'education': 'tertiary', 'default': 'no', 'balance': 2317, 'housing': 'yes', 'loan': 'no', 'contact': 'cellular', 'day': 20, 'month': 'apr', 'duration': 114, 'campaign': 1, 'pdays': 152, 'previous': 2, 'poutcome': 'failure', 'y': 'no'}
Appended row: {'age': 25, 'job': 'blue-collar', 'marital': 'single', 'education': 'primary', 'default': 'no', 'balance': -221, 'housing': 'yes', 'loan': 'no', 'contact': 'unknown', 'day': 23, 'month': 'may', 'duration': 250, 'campaign': 1, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 31, 'job': 'services', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 132, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 7, 'month': 'jul', 'duration': 148, 'campaign': 1, 'pdays': 152, 'previous': 1, 'poutcome': 'other', 'y': 'no'}
Appended row: {'age': 38, 'job': 'management', 'marital': 'divorced', 'education': 'unknown', 'default': 'no', 'balance': 0, 'housing': 'yes', 'loan': 'no', 'contact': 'cellular', 'day': 18, 'month': 'nov', 'duration': 96, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 42, 'job': 'management', 'marital': 'divorced', 'education': 'tertiary', 'default': 'no', 'balance': 16, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 19, 'month': 'nov', 'duration': 140, 'campaign': 3, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 44, 'job': 'services', 'marital': 'single', 'education': 'secondary', 'default': 'no', 'balance': 106, 'housing': 'no', 'loan': 'no', 'contact': 'unknown', 'day': 12, 'month': 'jun', 'duration': 109, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 44, 'job': 'entrepreneur', 'marital': 'married', 'education': 'secondary', 'default': 'no', 'balance': 93, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 7, 'month': 'jul', 'duration': 125, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 26, 'job': 'housemaid', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': 543, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 30, 'month': 'jan', 'duration': 169, 'campaign': 3, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 41, 'job': 'management', 'marital': 'married', 'education': 'tertiary', 'default': 'no', 'balance': 5883, 'housing': 'no', 'loan': 'no', 'contact': 'cellular', 'day': 20, 'month': 'nov', 'duration': 182, 'campaign': 2, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}
Appended row: {'age': 55, 'job': 'blue-collar', 'marital': 'married', 'education': 'primary', 'default': 'no', 'balance': 627, 'housing': 'yes', 'loan': 'no', 'contact': 'unknown', 'day': 5, 'month': 'may', 'duration': 247, 'campaign': 1, 'pdays': -1, 'previous': 0, 'poutcome': 'unknown', 'y': 'no'}

KeyboardInterrupt:

In [55]:
pd.read_json('E:\\kafka_project\\new_row.json', lines=True)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no

In [52]:
# print("Starting to append...")
# for index, row in source_df.iterrows():
#     # Append the row to target_df
#     target_df = pd.concat([target_df, pd.DataFrame([row])], ignore_index=True)

#     print(f"Added row: {row.to_dict()}")
#     print("Current target_df:")
#     print(target_df)
#     print("-" * 40)

#     # Wait for 5 seconds
#     time.sleep(5)

# print("Finished!")

In [53]:
# target_df.head()